<table class="table table-striped">
    <tbody>
        <tr>
            <td>Title</td>
            <td>{{ singleTask.taskTitle }}</td>
        </tr>

        <tr>
            <td>Project</td>
            <td>{{ singleTask.taskProject }}</td>
        </tr>
        <tr>
            <td>Amount</td>
            <td>{{ singleTask.taskAmount }}</td>
        </tr>
        <tr>
            <td>Time</td>
            <td>{{ singleTask.taskTime }}</td>
        </tr>
        <tr>
            <td>Dead Line</td>
            <td>{{ singleTask.taskDeadline }}</td>
        </tr>
        <tr>
            <td>Notes</td>
            <td>{{ singleTask.taskNotes }}</td>
        </tr>
    </tbody>
</table>